### Combine all dataset

In [821]:
# Load All Necessary Packages

import os

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3
import pickle

seed = 18

print('Versions of key libraries')
print('-------------------------')
print('pandas:  ', pd.__version__)
print('numpy:   ', np.__version__)

Versions of key libraries
-------------------------
pandas:   1.5.2
numpy:    1.21.5

## Load all datasets

In [822]:
aws=pd.read_csv('AWS_preprocess_done.csv')
coursera=pd.read_csv('Coursera_edited1.csv')
dataCamp=pd.read_csv('DataCamp_Data_preprocess_done.csv')
edureka=pd.read_csv('Edureka_Data_preprocess_done.csv')
edx=pd.read_csv('Edx_Data_preprocess_done.csv')
freecodeCamp=pd.read_csv('freecodeCamp_preprocess_done.csv')
futurelearn=pd.read_csv('FutureLearn_Data_preprocess_done.csv')
independent=pd.read_csv('Independent_Data_preprocess_done.csv')
linkedin=pd.read_csv('LinkedIn_preprocess_done.csv')
microsoft=pd.read_csv('Microsoft_Data_preprocess_done.csv')
pluralsight=pd.read_csv('Pluralsight_Data_preprocess_done.csv')
udacity=pd.read_csv('Udacity_preprocess_done.csv')
udemy=pd.read_csv('udemy_edited1.csv')

## Platform sequence
AWS = 0

dataCamp=1

edureka=2

edx=3

freecodeCamp=4

futureLearn=5

independent=6

linkedin=7

microsoft=8

pluralsight=9

udacity=10

udemy =11

cousera=12

In [823]:
# shape of all dataset
print('Aws : ',aws.shape)
print('dataCamp : ',dataCamp.shape )
print('edureka : ',edureka.shape)
print('edx : ',edx.shape)
print('freecodeCamp : ',freecodeCamp.shape)
print('futurelearn : ',futurelearn.shape)
print('independent : ',independent.shape)
print('linkedin : ',linkedin.shape)
print('microsoft : ',microsoft.shape)
print('pluralsight : ',pluralsight.shape)
print('udacity : ',udacity.shape)
print('udemy : ',udemy.shape)
print('coursera : ',coursera.shape)

Aws :  (548, 16)
dataCamp :  (402, 16)
edureka :  (165, 16)
edx :  (1183, 16)
freecodeCamp :  (517, 16)
futurelearn :  (554, 16)
independent :  (127, 16)
linkedin :  (1574, 16)
microsoft :  (385, 16)
pluralsight :  (180, 16)
udacity :  (263, 16)
udemy :  (19580, 16)
coursera :  (666, 16)

In [824]:
# AWS head, shape
print(aws.shape)
aws.head(3)

(548, 16)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Getting Started with AWS Mainframe Modernizati...,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",NaN,NaN,0,0,1,0,5.0,0,English,English,AWS,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
1,Cloud for CEOs,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",This course provides CEOs and presidents a hig...,This course provides CEOs and presidents a hig...,0,0,1,0,5.0,0,English,English,AWS,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
2,Getting Started with AWS Mainframe Modernizati...,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",The AWS Mainframe Modernization service helps ...,The AWS Mainframe Modernization service helps ...,0,0,1,0,5.0,0,English,English,AWS,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...

In [825]:
print(dataCamp.shape)
dataCamp.head(3)

(402, 16)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Introduction to Python,https://www.datacamp.com/courses/intro-to-pyth...,Computer Science,Master the basics of data analysis with Python...,Master the basics of data analysis with Python...,Introductory,0,1,0,4.40,0,English,English,DataCamp,DataCamp,https://cdn.datacamp.com/main-app/assets/logos...
1,Introduction to R,https://www.datacamp.com/courses/free-introduc...,Computer Science,"Master the basics of data analysis in R, inclu...","Master the basics of data analysis in R, inclu...",Introductory,0,1,0,3.80,0,English,English,DataCamp,DataCamp,https://cdn.datacamp.com/main-app/assets/logos...
2,Introduction to Probability and Data - Labs,https://www.datacamp.com/community/open-course...,Computer Science,This interactive DataCamp course complements t...,This interactive DataCamp course complements t...,Introductory,0,0,0,3.53,0,English,English,DataCamp,DataCamp,https://cdn.datacamp.com/main-app/assets/logos...

In [826]:
edureka.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,DevOps Engineer Masters Program,https://www.edureka.co/devops-engineer-trainin...,Computer Science,"Includes 4 Live courses: DevOps, Docker, AWS D...",DevOps Engineer Masters Program will make you ...,0,2,0,0.0,4.934783,0,English,English,Edureka,Edureka,https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1...
1,Microsoft Power BI Certification Training Course,https://www.edureka.co/power-bi-certification-...,Computer Science,"Includes: DAX, Data insights, Power BI Service...",NaN,0,1,1,50035.0,5.000000,0,English,English,Edureka,Edureka,https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1...
2,DevOps Certification Training Course,https://www.edureka.co/devops-certification-tr...,Computer Science,"Includes Git, Jenkins, Ansible, Docker, Kubern...",NaN,0,1,1,142132.0,5.000000,0,English,English,Edureka,Edureka,https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1...

In [827]:
edx.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,4G Network Essentials,https://www.edx.org/course/4g-network-essentials,Engineering,Advance your telecom career by learning how 4G...,4G is the cutting-edge network technology that...,1,1,1,0,0.0,"₹ 4,007",English,English,0.0,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
1,5G Deployment,https://www.edx.org/course/5g-deployment,"Computer Science, Engineering","Learn about 5G deployment, 5G Radio Access Net...","In this course, you will learn about 5G deploy...",0,1,1,0,0.0,"₹ 16,273",English,English,0.0,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
2,5G Essentials,https://www.edx.org/course/5g-essentials,"Computer Science, Engineering","Learn about 5G Networking, 5G architecture, an...","In this course, you will learn and explore abo...",0,1,1,0,0.0,"₹ 16,273",English,English,0.0,Curtin University,https://www.edx.org/images/logos/edx-logo-elm.svg

In [828]:
freecodeCamp.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Harvard CS50 – Full Computer Science Universit...,https://www.youtube.com/supported_browsers?nex...,Computer Science,Syllabus: Lecture 0 - Scratch Lecture 1 - C L...,Syllabus: Lecture 0 - Scratch Lecture 1 - C L...,0,1,1,0,4.8,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
1,Responsive Web Design,https://www.freecodecamp.org/learn/2022/respon...,Computer Science,"In this Responsive Web Design Certification, y...","In this Responsive Web Design Certification, y...",0,2,1,0,4.6,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
2,JavaScript Algorithms and Data Structures,https://www.freecodecamp.org/learn/javascript-...,Computer Science,While HTML and CSS control the content and sty...,While HTML and CSS control the content and sty...,0,2,1,0,4.8,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...

In [829]:
futurelearn.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Introduction to Cyber Security,https://www.futurelearn.com/courses/introducti...,Computer Science,This course will guide you through this techni...,This course will guide you through this techni...,0,1,0,336324.0,4.7,Refer to link,English,English,FutureLearn,The Open University,https://assets.futurelearn.com/packs/app/asset...
1,Programming 101: An Introduction to Python for...,https://www.futurelearn.com/courses/programmin...,Computer Science,"Ultimately, you’ll use your new coding skills ...","Ultimately, you’ll use your new coding skills ...",0,0,0,59134.0,4.8,Refer to link,English,English,FutureLearn,Raspberry Pi Foundation & National Centre for ...,https://assets.futurelearn.com/packs/app/asset...
2,Applications of AI Technology,https://www.futurelearn.com/courses/artificial...,Computer Science,"You’ll discover deep learning in week three, a...","You’ll discover deep learning in week three, a...",1,0,0,4427.0,4.5,Refer to link,English,English,FutureLearn,Taipei Medical University,https://assets.futurelearn.com/packs/app/asset...

In [830]:
independent.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Elements of AI,https://course.elementsofai.com/,Computer Science,The elements of AI is a free online course for...,The elements of AI is a free online course for...,Introductory,0,1,0,4.8,0,English,English,Independent Courses,University of Helsinki,NaN
1,Going Places with Spatial Analysis,https://www.esri.com/training/catalog/57660f19...,Computer Science,This Massive Open Online Course (MOOC) is for ...,This Massive Open Online Course (MOOC) is for ...,Introductory,0,1,0,4.8,0,English,English,Independent Courses,Esri,NaN
2,Do-It-Yourself Geo Apps,https://www.esri.com/training/catalog/57660ed7...,Computer Science,This course will show you how to combine locat...,This course will show you how to combine locat...,Introductory,0,1,0,4.9,0,English,English,Independent Courses,Esri,NaN

In [831]:
linkedin.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,CompTIA Network+ (N10-007) Cert Prep: 1 Unders...,https://www.linkedin.com/learning/comptia-netw...,Network Administration,Earn your CompTIA Network+ certification. Part...,Earn your CompTIA Network+ certification. Part...,1,0,0,1344,4.8,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
1,CSS Essential Training,https://www.linkedin.com/learning/css-essentia...,Cascading Style Sheets (CSS),Explore the concepts that form the foundation ...,Explore the concepts that form the foundation ...,0,0,0,12190,4.7,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
2,Succeeding in Web Development: Full Stack and ...,https://www.linkedin.com/learning/succeeding-i...,"Front-End Development,Full-Stack Development",Do you want to become a web developer? Learn a...,Do you want to become a web developer? Learn a...,0,0,0,11456,4.7,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...

In [832]:
microsoft.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,AZ-104: Configure and manage virtual networks ...,https://learn.microsoft.com/en-us/training/pat...,Computer Science,Learn how to configure key Azure network capab...,Learn how to configure key Azure network capab...,Introductory,0,1,0,5.0,0,English,English,Microsoft,Microsoft,https://img-prod-cms-rt-microsoft-com.akamaize...
1,Take your first steps with C#,https://learn.microsoft.com/en-us/training/pat...,Computer Science,Interested in learning a programming language ...,Interested in learning a programming language ...,Introductory,0,1,0,4.5,0,English,English,Microsoft,Microsoft,https://img-prod-cms-rt-microsoft-com.akamaize...
2,Implement a Windows Server hybrid cloud infras...,https://learn.microsoft.com/en-us/training/pat...,Computer Science,You will learn how to address problems relatin...,You will learn how to address problems relatin...,Introductory,0,1,0,5.0,0,English,English,Microsoft,Microsoft,https://img-prod-cms-rt-microsoft-com.akamaize...

In [833]:
pluralsight.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Network Address Translation Operation and Conf...,https://www.pluralsight.com/courses/network-ad...,Computer Science,Network address translation (NAT) solves the p...,Network address translation (NAT) solves the p...,1,0,0,NaN,5.0,Rs 1499/- per month,English,English,Pluralsight,Pluralsight,https://www.pluralsight.com/content/dam/plural...
1,Broadening Android App Appeal and Reach,https://www.pluralsight.com/courses/android-br...,Computer Science,The Android platform encompasses one of the la...,The Android platform encompasses one of the la...,2,0,0,NaN,4.5,Rs 1499/- per month,English,English,Pluralsight,Pluralsight,https://www.pluralsight.com/content/dam/plural...
2,Understanding and Using Essential Tools for En...,https://www.pluralsight.com/courses/essential-...,Computer Science,Take your Linux sysadmin skills to the next le...,Take your Linux sysadmin skills to the next le...,0,0,0,NaN,4.5,Rs 1499/- per month,English,English,Pluralsight,Pluralsight,https://www.pluralsight.com/content/dam/plural...

In [834]:
udacity.head(3)

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Data Engineering with AWS,https://www.udacity.com/course/data-engineer-n...,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Learn to design data models, build data wareho...","Learn to design data models, build data wareho...",1,2,0,1808.0,4.6,Subscription ₹22849 per month,English,English,Udacity,Udacity,https://www.udacity.com/www-proxy/contentful/a...
1,Introduction to Programming,https://www.udacity.com/course/intro-to-progra...,"Front-End Development Basics, HTML, CSS, Py...",A first step for beginners towards careers in ...,A first step for beginners towards careers in ...,0,2,0,3865.0,4.7,Subscription ₹22849 per month,English,English,Udacity,Udacity,https://d20vrrgs8k4bvw.cloudfront.net/images/d...
2,C++,https://www.udacity.com/course/c-plus-plus-nan...,"Data Structures, Algorithms, Memory Manageme...",Get hands-on experience building five real-wor...,Get hands-on experience building five real-wor...,1,2,0,1128.0,4.5,Subscription ₹22849 per month,English,English,Udacity,Udacity,https://d20vrrgs8k4bvw.cloudfront.net/images/d...

In [ ]:
udemy.head(3)

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,UX Design & User Experience Design Course - Th...,https://www.udemy.com/course/how-to-change-car...,"Design,User Experience Design",This course is for anyone interested in learni...,NaN,0,0,0,25168,4.5,NT$470,English,English,Udemy,Daniel Walter Scott,https://img-c.udemycdn.com/course/240x135/9687...
1,Gamification: Motivation Psychology & The Art ...,https://www.udemy.com/course/gamification-moti...,"Design Thinking,Gamification",Learn how to motivate and engage anyone by lea...,NaN,0,0,0,20639,4.5,NT$470,English,English,Udemy,Rob Sutcliffe,https://img-c.udemycdn.com/course/240x135/5930...
2,Complete Web Design: from Figma to Webflow to ...,https://www.udemy.com/course/freelance-web-des...,"Design,Web Design",3 in 1 Course: Learn to design websites with F...,NaN,0,1,0,22100,4.7,NT$470,English,English,Udemy,Vako Shvili,https://img-c.udemycdn.com/course/240x135/2094...

In [ ]:
(coursera.head(3))

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,"Build, Train, and Deploy ML Pipelines using BERT",https://www.coursera.org/learn/ml-pipelines-bert,"Data Science, Machine Learning",NaN,In the second course of the Practical Data Sci...,2,1,1,4137,4.7,Refer to link for price,English,English,Coursera,"DeepLearning.AI, Amazon Web Services",https://about.coursera.org/static/blueCoursera...
1,Fundamentals of the Chinese character writing....,https://www.coursera.org/learn/chinese-charact...,"Language Learning, Other Languages",NaN,"If you just finished the first course, you wil...",0,1,1,0,0.0,Refer to link for price,English,English,Coursera,Saint Petersburg State University,https://about.coursera.org/static/blueCoursera...
2,Natural Language Processing and Capstone Assig...,https://www.coursera.org/learn/natural-languag...,"Data Science, Data Analysis",NaN,Welcome to Natural Language Processing and Cap...,1,0,1,0,0.0,Refer to link for price,English,English,Coursera,"University of California, Irvine",https://about.coursera.org/static/blueCoursera...

## Align dataset

In [ ]:
# Align Header
header = ['title', 'url', 'categories',  'description_short', 'description_long', 'difficulty', 'duration', 'free_option', 'number_of_enroll', 'rating', 'paid_option', 'language', 'subtitle', 'platform', 'provider', 'image_url']

In [ ]:
aws['Short Description'] = aws['Short Description'].apply(lambda x: '' if pd.isna(x) else x)
aws['Long Description'] = aws['Long Description'].apply(lambda x: '' if pd.isna(x) else x)

aws['Platform']=0
print(aws.isna().sum())
aws.columns=header
aws.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Getting Started with AWS Mainframe Modernizati...,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",,,0,0,1,0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
1,Cloud for CEOs,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",This course provides CEOs and presidents a hig...,This course provides CEOs and presidents a hig...,0,0,1,0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...

In [ ]:
print(dataCamp['Difficulty'].unique())
dataCamp['Difficulty']=0
dataCamp['Platform']=1

print(dataCamp.isna().sum())
dataCamp.columns=header
dataCamp.head(2)

['Introductory']
Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Introduction to Python,https://www.datacamp.com/courses/intro-to-pyth...,Computer Science,Master the basics of data analysis with Python...,Master the basics of data analysis with Python...,0,0,1,0,4.4,0,English,English,1,DataCamp,https://cdn.datacamp.com/main-app/assets/logos...
1,Introduction to R,https://www.datacamp.com/courses/free-introduc...,Computer Science,"Master the basics of data analysis in R, inclu...","Master the basics of data analysis in R, inclu...",0,0,1,0,3.8,0,English,English,1,DataCamp,https://cdn.datacamp.com/main-app/assets/logos...

In [ ]:
for i in range(len(edureka)):
    if pd.isna(edureka['Long Description'][i]):
        edureka['Long Description'][i] = edureka['Short Description'][i]

edureka['Long Description'] = edureka['Long Description'].apply(lambda x: '' if pd.isna(x) else x)
edureka['Platform']=2
print(edureka.isna().sum())

edureka.columns=header
edureka.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

C:\Users\nehab\AppData\Local\Temp\ipykernel_860\2263766276.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  edureka['Long Description'][i] = edureka['Short Description'][i]

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,DevOps Engineer Masters Program,https://www.edureka.co/devops-engineer-trainin...,Computer Science,"Includes 4 Live courses: DevOps, Docker, AWS D...",DevOps Engineer Masters Program will make you ...,0,2,0,0.0,4.934783,0,English,English,2,Edureka,https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1...
1,Microsoft Power BI Certification Training Course,https://www.edureka.co/power-bi-certification-...,Computer Science,"Includes: DAX, Data insights, Power BI Service...","Includes: DAX, Data insights, Power BI Service...",0,1,1,50035.0,5.000000,0,English,English,2,Edureka,https://d1jnx9ba8s6j9r.cloudfront.net/imgver.1...

In [ ]:


# Edx - Align Header
# Extract Course Short Description
edx['Short Description'] = edx['Short Description'].apply(lambda x: '' if pd.isna(x) else x)
edx['Platform']=3
edx.columns = header

edx.isna().sum()

title                0
url                  0
categories           0
description_short    0
description_long     0
difficulty           0
duration             0
free_option          0
number_of_enroll     0
rating               0
paid_option          0
language             0
subtitle             0
platform             0
provider             0
image_url            0
dtype: int64

In [ ]:
edx.head()

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,4G Network Essentials,https://www.edx.org/course/4g-network-essentials,Engineering,Advance your telecom career by learning how 4G...,4G is the cutting-edge network technology that...,1,1,1,0,0.0,"₹ 4,007",English,English,3,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
1,5G Deployment,https://www.edx.org/course/5g-deployment,"Computer Science, Engineering","Learn about 5G deployment, 5G Radio Access Net...","In this course, you will learn about 5G deploy...",0,1,1,0,0.0,"₹ 16,273",English,English,3,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
2,5G Essentials,https://www.edx.org/course/5g-essentials,"Computer Science, Engineering","Learn about 5G Networking, 5G architecture, an...","In this course, you will learn and explore abo...",0,1,1,0,0.0,"₹ 16,273",English,English,3,Curtin University,https://www.edx.org/images/logos/edx-logo-elm.svg
3,AI Applications with Watson,https://www.edx.org/course/AI-applications-wit...,Computer Science,Turbocharge your chatbot's IQ and AI capabilit...,Please Note: Learners who successfully complet...,1,0,1,13695,0.0,"₹ 8,096",English,English,3,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
4,AI Chatbots without Programming,https://www.edx.org/course/AI-chatbots-without...,Computer Science,Chatbots are increasingly in demand among glob...,Please Note: Learners who successfully complet...,0,0,1,48488,0.0,"₹ 8,096",English,English,3,edX,https://www.edx.org/images/logos/edx-logo-elm.svg

In [ ]:
print(freecodeCamp.isna().sum())
freecodeCamp['Platform']=4
freecodeCamp.columns=header
freecodeCamp.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Harvard CS50 – Full Computer Science Universit...,https://www.youtube.com/supported_browsers?nex...,Computer Science,Syllabus: Lecture 0 - Scratch Lecture 1 - C L...,Syllabus: Lecture 0 - Scratch Lecture 1 - C L...,0,1,1,0,4.8,0,English,English,4,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
1,Responsive Web Design,https://www.freecodecamp.org/learn/2022/respon...,Computer Science,"In this Responsive Web Design Certification, y...","In this Responsive Web Design Certification, y...",0,2,1,0,4.6,0,English,English,4,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...

In [ ]:
print(futurelearn.isna().sum())
futurelearn['Platform']=5
futurelearn.columns=header
futurelearn.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Introduction to Cyber Security,https://www.futurelearn.com/courses/introducti...,Computer Science,This course will guide you through this techni...,This course will guide you through this techni...,0,1,0,336324.0,4.7,Refer to link,English,English,5,The Open University,https://assets.futurelearn.com/packs/app/asset...
1,Programming 101: An Introduction to Python for...,https://www.futurelearn.com/courses/programmin...,Computer Science,"Ultimately, you’ll use your new coding skills ...","Ultimately, you’ll use your new coding skills ...",0,0,0,59134.0,4.8,Refer to link,English,English,5,Raspberry Pi Foundation & National Centre for ...,https://assets.futurelearn.com/packs/app/asset...

In [ ]:

independent['Image URL']='https://icons.veryicon.com/png/o/education-technology/educational-icon/online-course.png'
independent['Difficulty'].unique()
independent['Difficulty']=0
independent['Platform']=6
independent.dropna(inplace=True)
print(independent.isna().sum())

independent.columns=header
independent.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Elements of AI,https://course.elementsofai.com/,Computer Science,The elements of AI is a free online course for...,The elements of AI is a free online course for...,0,0,1,0,4.8,0,English,English,6,University of Helsinki,https://icons.veryicon.com/png/o/education-tec...
1,Going Places with Spatial Analysis,https://www.esri.com/training/catalog/57660f19...,Computer Science,This Massive Open Online Course (MOOC) is for ...,This Massive Open Online Course (MOOC) is for ...,0,0,1,0,4.8,0,English,English,6,Esri,https://icons.veryicon.com/png/o/education-tec...

In [ ]:
print(linkedin.isna().sum())
linkedin['Platform']=7
linkedin.columns=header
linkedin.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,CompTIA Network+ (N10-007) Cert Prep: 1 Unders...,https://www.linkedin.com/learning/comptia-netw...,Network Administration,Earn your CompTIA Network+ certification. Part...,Earn your CompTIA Network+ certification. Part...,1,0,0,1344,4.8,Subscription Required,English,English,7,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
1,CSS Essential Training,https://www.linkedin.com/learning/css-essentia...,Cascading Style Sheets (CSS),Explore the concepts that form the foundation ...,Explore the concepts that form the foundation ...,0,0,0,12190,4.7,Subscription Required,English,English,7,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...

In [ ]:

microsoft['Difficulty'].unique()
microsoft['Difficulty']=0
microsoft['Platform']=8

print(microsoft.isna().sum())
microsoft.columns=header
microsoft.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,AZ-104: Configure and manage virtual networks ...,https://learn.microsoft.com/en-us/training/pat...,Computer Science,Learn how to configure key Azure network capab...,Learn how to configure key Azure network capab...,0,0,1,0,5.0,0,English,English,8,Microsoft,https://img-prod-cms-rt-microsoft-com.akamaize...
1,Take your first steps with C#,https://learn.microsoft.com/en-us/training/pat...,Computer Science,Interested in learning a programming language ...,Interested in learning a programming language ...,0,0,1,0,4.5,0,English,English,8,Microsoft,https://img-prod-cms-rt-microsoft-com.akamaize...

In [ ]:

pluralsight['Number of Enrolled'] = pluralsight['Number of Enrolled'].apply(lambda x: '0' if pd.isna(x) else x)
pluralsight['Number of Enrolled'] = pluralsight['Number of Enrolled'].apply(lambda x: x.replace(',', ''))
pluralsight['Number of Enrolled'] = pluralsight['Number of Enrolled'].apply(lambda x: int(x))
pluralsight['Short Description'] = pluralsight['Short Description'].apply(lambda x: '' if pd.isna(x) else x)
pluralsight['Long Description'] = pluralsight['Long Description'].apply(lambda x: '' if pd.isna(x) else x)
pluralsight['Platform']=9
print(pluralsight.isna().sum())

pluralsight.columns=header
pluralsight.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Network Address Translation Operation and Conf...,https://www.pluralsight.com/courses/network-ad...,Computer Science,Network address translation (NAT) solves the p...,Network address translation (NAT) solves the p...,1,0,0,0,5.0,Rs 1499/- per month,English,English,9,Pluralsight,https://www.pluralsight.com/content/dam/plural...
1,Broadening Android App Appeal and Reach,https://www.pluralsight.com/courses/android-br...,Computer Science,The Android platform encompasses one of the la...,The Android platform encompasses one of the la...,2,0,0,0,4.5,Rs 1499/- per month,English,English,9,Pluralsight,https://www.pluralsight.com/content/dam/plural...

In [ ]:
udacity['Categories']=udacity['Categories'].apply(lambda x : 'Computer Science' if pd.isna(x) else x)

udacity['Short Description'] = udacity['Short Description'].apply(lambda x: '' if pd.isna(x) else x)
udacity['Long Description'] = udacity['Long Description'].apply(lambda x: '' if pd.isna(x) else x)
udacity['Number of Enrolled']=udacity['Number of Enrolled'].astype('int64')
udacity['Platform']=10
print(udacity.isna().sum())
udacity.columns=header
udacity.head(2)

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Data Engineering with AWS,https://www.udacity.com/course/data-engineer-n...,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Learn to design data models, build data wareho...","Learn to design data models, build data wareho...",1,2,0,1808,4.6,Subscription ₹22849 per month,English,English,10,Udacity,https://www.udacity.com/www-proxy/contentful/a...
1,Introduction to Programming,https://www.udacity.com/course/intro-to-progra...,"Front-End Development Basics, HTML, CSS, Py...",A first step for beginners towards careers in ...,A first step for beginners towards careers in ...,0,2,0,3865,4.7,Subscription ₹22849 per month,English,English,10,Udacity,https://d20vrrgs8k4bvw.cloudfront.net/images/d...

In [ ]:

discard=['Meditation,Sound Design','Learning a Foreign Language','Memory & Study Skills','Aerospace Engineering','Electrical Engineering','Meditation','Body Language','Influence','Engineering Instruction','Career Development','Personal Development','Industry','Personal Development,Career Development,Mechanical Engineering','Design','Design,Design Tools,Voice-Over','Sewing','Design,Other Design,Sewing','Design Tools,Acrylic Painting','Design,Design Tools','Design,Graphic Design & Illustration,Corel Painter','Fashion Design,Sewing','Design,Other Design,Structural Design','Design,Fashion Design,T-Shirt Design','Design,Interior Design,Color Theory','Design,Other Design,Screenwriting','Other Design,Figure Drawing','Design,Design Tools,InDesign Other Design','Colored Pencil Drawing','Architectural Design,Creo','Fashion Design','Architectural Design,Revit']
udemy=udemy[~udemy.categories.str.contains('|'.join(discard))]
print(len(udemy['categories'].unique()))
print(udemy['categories'].value_counts())
udemy.reset_index(inplace = True, drop = True)

4083
Development,Programming Languages,Python                                               258
Development,Web Development,JavaScript                                                 180
IT & Software,Network & Security,Ethical Hacking                                       148
Development,Game Development,Unity                                                     143
Development,Mobile Development,Android Development                                     137
                                                                                      ...
Network & Security,Web App Development                                                   1
IT & Software,Other IT & Software,Microsoft System Center Operations Manager (SCOM)      1
IT & Software,IT Certifications,Oracle Forms                                             1
IT & Software,Other IT & Software,NativeScript                                           1
Photography & Video,Photography,Adobe Premiere                                           1
Name: categories, Length: 4083, dtype: int64

In [ ]:
udemy.head()

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Blender 2.8 Character Creation,https://www.udemy.com/course/blender-2_8-chara...,"3D & Animation,Blender",Learn to use Blender 2.8 to create your own 3D...,NaN,0,1,0,5451,4.7,NT$470,English,English,Udemy,Darrin Lile,https://img-c.udemycdn.com/course/240x135/2021...
1,The Ultimate Blender 3D Sculpting Course,https://www.udemy.com/course/blender-3d-sculpt...,"3D & Animation,3D Sculpting","Learn the ins & outs of sculpting, retopology,...",NaN,0,1,0,8052,4.6,NT$470,English,English,Udemy,Alex Cordebard,https://img-c.udemycdn.com/course/240x135/3471...
2,Ultimate Blender 3D Character Creation & Anima...,https://www.udemy.com/course/blender3dcharacte...,"3D & Animation,3D Animation",Learn 3D character creation & animation in Ble...,NaN,0,1,0,6481,4.8,NT$470,English,English,Udemy,Alex Cordebard,https://img-c.udemycdn.com/course/240x135/2915...
3,Anime Academy: Characters and Backgrounds!,https://www.udemy.com/course/anime-academy-cha...,"3D & Animation,Anime","Learn Character Design, Backgrounds, Illustrat...",NaN,0,2,0,23301,4.7,NT$470,English,English,Udemy,Christina Wu/Dubell,https://img-c.udemycdn.com/course/240x135/2683...
4,How to Create Retro 3D Graphics with Blender a...,https://www.udemy.com/course/how-to-create-ret...,"3D & Animation,3D Modeling",Recapture the nostalgia of the Quake and Plays...,NaN,0,0,0,2574,4.5,NT$470,English,English,Udemy,Narayana Walters,https://img-c.udemycdn.com/course/240x135/2869...

In [ ]:


print(udemy.shape)
print(udemy.isna().sum())
udemy['description_long'] = udemy['description_long'].apply(lambda x: '' if pd.isna(x) else x)
udemy['description_short'] = udemy['description_short'].apply(lambda x: '' if pd.isna(x) else x)
for j in range(len(udemy)):
    
    if (udemy['description_long'][j])=='':

        udemy['description_long'][j] = udemy['description_short'][i]

udemy['platform']=11
udemy.columns=header
print(udemy.isna().sum())

(13417, 16)
title                    0
url                      0
categories               0
description_short        4
description_long     13417
difficulty               0
duration                 0
free_option              0
number_of_enroll         0
rating                   0
paid_option              0
language                 0
subtitle                 0
platform                 0
provider                 0
image_url                0
dtype: int64

C:\Users\nehab\AppData\Local\Temp\ipykernel_860\918290085.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  udemy['description_long'][j] = udemy['description_short'][i]

title                0
url                  0
categories           0
description_short    0
description_long     0
difficulty           0
duration             0
free_option          0
number_of_enroll     0
rating               0
paid_option          0
language             0
subtitle             0
platform             0
provider             0
image_url            0
dtype: int64

In [ ]:
coursera.head(3)
for i in range(len(coursera)):
    if pd.isna(coursera['description_short'][i]):
        coursera['description_short'][i] = coursera['description_long'][i]

coursera['description_short'] = coursera['description_short'].apply(lambda x: '' if pd.isna(x) else x)
coursera['paid_option'] = coursera['paid_option'].apply(lambda x: '' if pd.isna(x) else x)
coursera['platform']=12
print(coursera.isna().sum())


coursera.columns=header
coursera.head(2)

title                0
url                  0
categories           0
description_short    0
description_long     0
difficulty           0
duration             0
free_option          0
number_of_enroll     0
rating               0
paid_option          0
language             0
subtitle             0
platform             0
provider             0
image_url            0
dtype: int64

C:\Users\nehab\AppData\Local\Temp\ipykernel_860\121548797.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coursera['description_short'][i] = coursera['description_long'][i]

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,"Build, Train, and Deploy ML Pipelines using BERT",https://www.coursera.org/learn/ml-pipelines-bert,"Data Science, Machine Learning",In the second course of the Practical Data Sci...,In the second course of the Practical Data Sci...,2,1,1,4137,4.7,Refer to link for price,English,English,12,"DeepLearning.AI, Amazon Web Services",https://about.coursera.org/static/blueCoursera...
1,Fundamentals of the Chinese character writing....,https://www.coursera.org/learn/chinese-charact...,"Language Learning, Other Languages","If you just finished the first course, you wil...","If you just finished the first course, you wil...",0,1,1,0,0.0,Refer to link for price,English,English,12,Saint Petersburg State University,https://about.coursera.org/static/blueCoursera...

In [ ]:
print(coursera['categories'].unique())
discard=['Language Learning, Other Languages','Physical Science and Engineering, Environmental Science and Sustainability','Physical Science and Engineering, Mechanical Engineering','Language Learning, Learning English', 'Physical Science and Engineering, Electrical Engineering','Physical Science and Engineering, Chemistry']
coursera=coursera[~coursera.categories.str.contains('|'.join(discard))]
print(coursera['categories'].unique())

['Data Science, Machine Learning' 'Language Learning, Other Languages'
 'Data Science, Data Analysis'
 'Physical Science and Engineering, Physics and Astronomy'
 'Computer Science, Software Development' 'Computer Science, Algorithms'
 'Physical Science and Engineering, Environmental Science and Sustainability'
 'Data Science, Probability and Statistics'
 'Computer Science, Design and Product'
 'Information Technology, Cloud Computing'
 'Information Technology, Security'
 'Physical Science and Engineering, Mechanical Engineering'
 'Language Learning, Learning English' 'Math and Logic, Math and Logic'
 'Computer Science, Mobile and Web Development'
 'Information Technology, Networking'
 'Computer Science, Computer Security and Networks'
 'Information Technology, Support and Operations'
 'Physical Science and Engineering, Research Methods'
 'Physical Science and Engineering, Electrical Engineering'
 'Physical Science and Engineering, Chemistry']
['Data Science, Machine Learning' 'Data Science, Data Analysis'
 'Physical Science and Engineering, Physics and Astronomy'
 'Computer Science, Software Development' 'Computer Science, Algorithms'
 'Data Science, Probability and Statistics'
 'Computer Science, Design and Product'
 'Information Technology, Cloud Computing'
 'Information Technology, Security' 'Math and Logic, Math and Logic'
 'Computer Science, Mobile and Web Development'
 'Information Technology, Networking'
 'Computer Science, Computer Security and Networks'
 'Information Technology, Support and Operations'
 'Physical Science and Engineering, Research Methods']

In [ ]:
print('Aws : \n',aws.dtypes)
print('\ndataCamp : ',dataCamp.dtypes )
print('\nedureka : ',edureka.dtypes)
print('\nedx : ',edx.dtypes)
print('\nfreecodeCamp : ',freecodeCamp.dtypes)
print('\nfuturelearn : ',futurelearn.dtypes)
print('\nindependent : ',independent.dtypes)
print('\nlinkedin : ',linkedin.dtypes)
print('\nmicrosoft : ',microsoft.dtypes)
print('\npluralsight : ',pluralsight.dtypes)
print('\nudacity : ',udacity.dtypes)
print('\nudemy : ',udemy.dtypes)
print('\ncoursera : ',coursera.dtypes)

Aws :
 title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option            int64
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

dataCamp :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option            int64
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

edureka :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll     float64
rating               float64
paid_option            int64
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

edx :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

freecodeCamp :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option            int64
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

futurelearn :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll     float64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

independent :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option            int64
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

linkedin :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

microsoft :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option            int64
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

pluralsight :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

udacity :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

udemy :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

coursera :  title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll       int64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

In [ ]:
coursera2=pd.read_csv('Coursera_Data.csv',encoding='unicode_escape')

In [ ]:
coursera2.head(2)

,Course Name,URL,Categories,Long Description,Short Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Computer Science: Programming with a Purpose,https://www.coursera.org/learn/cs-programming-...,"Skills you'll gain: Computer Programming, Java...",The basis for education in the last millennium...,The basis for education in the last millennium...,0.0,1.0,0.0,253043.0,4.7,0,English,English,Cousera,Princeton University,"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0i..."

In [ ]:
coursera2.dropna(how='all' , inplace=True)

In [ ]:
coursera2.isna().sum()

Course Name            0
URL                    0
Categories            24
 Long Description      8
Short Description      8
Difficulty             0
Duration               0
Free Option            0
Number of Enrolled     0
Rating                 2
Paid Option            0
Language               0
Subtitle Language      0
Platform               0
Provider               1
Image URL              0
dtype: int64

In [ ]:
def removewords(x):
    if 'Skills you\'ll gain:' in x :
        x=x.replace("Skills you\'ll gain:",'')
    return x

In [ ]:
coursera2['Categories']=coursera2['Categories'].apply(lambda x : 'Computer Science' if pd.isna(x) else (removewords(x)))
coursera2['Provider']=coursera2['Provider'].apply(lambda x : 'Coursera' if pd.isna(x) else x)
coursera2.dropna(subset=['Short Description'] , inplace=True)
coursera2['Difficulty']=coursera2['Difficulty'].astype('int')
coursera2['Duration']=coursera2['Duration'].astype('int')
coursera2['Number of Enrolled']=coursera2['Number of Enrolled'].astype('int')
coursera2['Free Option']=coursera2['Free Option'].astype('int')

In [ ]:
coursera2.dtypes

Course Name            object
URL                    object
Categories             object
 Long Description      object
Short Description      object
Difficulty              int32
Duration                int32
Free Option             int32
Number of Enrolled      int32
Rating                float64
Paid Option            object
Language               object
Subtitle Language      object
Platform               object
Provider               object
Image URL              object
dtype: object

In [ ]:

print(coursera2.isna().sum())
coursera2['Platform']=12
coursera2.columns=header
coursera2.head(2)

Course Name           0
URL                   0
Categories            0
 Long Description     0
Short Description     0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                2
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
1,Computer Science: Programming with a Purpose,https://www.coursera.org/learn/cs-programming-...,"Computer Programming, Java Programming, Algor...",The basis for education in the last millennium...,The basis for education in the last millennium...,0,1,0,253043,4.7,0,English,English,12,Princeton University,"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0i..."
2,Code Yourself! An Introduction to Programming,https://www.coursera.org/learn/intro-programming,"Computational Thinking, Computer Programming,...","Have you ever wished you knew how to program, ...","Have you ever wished you knew how to program, ...",0,1,0,335309,4.7,0,English,English,12,The University of Edinburgh,"data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0i..."

## Combine all datasets

In [ ]:
dataset = pd.concat([aws,dataCamp,edureka,edx,freecodeCamp,futurelearn,independent,linkedin,microsoft,pluralsight,udacity,udemy,coursera,coursera2]).reset_index(drop=True)

In [ ]:
print(dataset.shape)
dataset.head()

(20623, 16)

,title,url,categories,description_short,description_long,difficulty,duration,free_option,number_of_enroll,rating,paid_option,language,subtitle,platform,provider,image_url
0,Getting Started with AWS Mainframe Modernizati...,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",,,0,0,1,0.0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
1,Cloud for CEOs,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",This course provides CEOs and presidents a hig...,This course provides CEOs and presidents a hig...,0,0,1,0.0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
2,Getting Started with AWS Mainframe Modernizati...,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",The AWS Mainframe Modernization service helps ...,The AWS Mainframe Modernization service helps ...,0,0,1,0.0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
3,Introduction to Robotics on AWS,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing",The robotics industry is growing at a rapid ra...,The robotics industry is growing at a rapid ra...,0,0,1,0.0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...
4,Getting Started with Bottlerocket,https://explore.skillbuilder.aws/learn/course/...,"Computer Science , Cloud , AWS ,Cloud Computing","Bottlerocket is a Linux-based, open-source ope...","Bottlerocket is a Linux-based, open-source ope...",0,0,1,0.0,5.0,0,English,English,0,AWS Skill Builder,https://ccweb.imgix.net/https%3A%2F%2Fwww.clas...

In [ ]:
dataset.isna().sum()

title                0
url                  0
categories           0
description_short    0
description_long     0
difficulty           0
duration             0
free_option          0
number_of_enroll     0
rating               2
paid_option          0
language             0
subtitle             0
platform             0
provider             0
image_url            0
dtype: int64

In [ ]:
duplicate = dataset[dataset.duplicated(['title','url'],keep=False)]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
res=duplicate.sort_values(by = 'title')

res.shape

Duplicate Rows :

(288, 16)

In [ ]:
dataset.drop_duplicates(subset=['url'],keep='first',inplace=True)

In [ ]:
duplicate = dataset[dataset.duplicated(['title','url'],keep=False)]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
res=duplicate.sort_values(by = 'title')
print(res.shape)

Duplicate Rows :
(0, 16)

In [ ]:
dataset.dtypes

title                 object
url                   object
categories            object
description_short     object
description_long      object
difficulty             int64
duration               int64
free_option            int64
number_of_enroll     float64
rating               float64
paid_option           object
language              object
subtitle              object
platform               int64
provider              object
image_url             object
dtype: object

In [ ]:
print(dataset['rating'].value_counts())

4.600000    2037
4.700000    2030
4.500000    1806
4.400000    1525
0.000000    1464
4.300000    1307
4.200000    1129
4.100000     997
4.800000     953
4.000000     838
5.000000     745
3.900000     699
3.800000     591
3.700000     490
4.580000     460
3.530000     396
3.600000     383
4.045455     378
3.500000     338
4.600000     295
4.900000     283
3.400000     225
3.300000     210
3.200000     137
3.100000     129
4.934783     119
3.000000      88
4.390000      84
2.900000      80
2.800000      52
2.700000      41
2.600000      31
2.500000      24
2.400000      22
2.200000      18
2.300000      13
4.263276      12
2.000000       8
4.306209       8
1.800000       5
2.100000       4
4.924771       3
1.000000       3
1.700000       3
4.187823       2
1.600000       2
1.400000       2
1.300000       1
1.500000       1
1.900000       1
3.220000       1
Name: rating, dtype: int64

In [ ]:
# Calculate average rating for all courses
avg_rating = dataset['rating'].mean()
print(avg_rating)
# Replace missing ratings with mean rating
dataset['rating']=dataset['rating'].apply(lambda x : avg_rating if (x==0 or pd.isna(x))  else x )

3.9762194055872224

In [ ]:

print(dataset['rating'].value_counts())

4.600000    2037
4.700000    2030
4.500000    1806
4.400000    1525
3.976219    1466
4.300000    1307
4.200000    1129
4.100000     997
4.800000     953
4.000000     838
5.000000     745
3.900000     699
3.800000     591
3.700000     490
4.580000     460
3.530000     396
3.600000     383
4.045455     378
3.500000     338
4.600000     295
4.900000     283
3.400000     225
3.300000     210
3.200000     137
3.100000     129
4.934783     119
3.000000      88
4.390000      84
2.900000      80
2.800000      52
2.700000      41
2.600000      31
2.500000      24
2.400000      22
2.200000      18
2.300000      13
4.263276      12
2.000000       8
4.306209       8
1.800000       5
2.100000       4
4.924771       3
1.000000       3
1.700000       3
4.187823       2
1.600000       2
1.400000       2
1.300000       1
1.500000       1
1.900000       1
3.220000       1
Name: rating, dtype: int64

In [ ]:
# Calculate Popularity Index

# Calculate average rating
avg_rating = dataset['rating'][dataset['rating'] > 0].mean()

# Calculate normalized number of ratings
num_ratings = dataset['rating'].value_counts()
max_num_ratings = num_ratings.max()
norm_num_ratings = num_ratings / max_num_ratings

# Calculate weighted average rating
weighted_avg_rating = (dataset['rating'] * dataset['rating'].map(norm_num_ratings)).sum() / \
                      (dataset['rating'].map(norm_num_ratings)).sum()

# Calculate popularity index
pop_index = dataset['rating'].map(norm_num_ratings) * (dataset['rating'] / weighted_avg_rating)
dataset['popularity_index'] = pop_index

print(avg_rating)
pop_index.shape

4.260526375539833

(20475,)

In [ ]:
dataset['popularity_index'].value_counts()

1.044765    2037
1.063809    2030
0.906150    1806
0.748156    1525
0.649941    1466
0.626634    1307
0.528704    1129
0.455773     997
0.510040     953
0.373744     838
0.415333     745
0.303957     699
0.250404     591
0.202147     490
0.234905     460
0.155862     396
0.153734     383
0.170502     378
0.131903     338
0.151304     295
0.154615     283
0.085296     225
0.077269     210
0.048881     137
0.044588     129
0.065476     119
0.029436      88
0.041116      84
0.025868      80
0.016234      52
0.012343      41
0.008987      31
0.006690      24
0.005887      22
0.004415      18
0.003334      13
0.005704      12
0.001784       8
0.003841       8
0.001003       5
0.000937       4
0.001647       3
0.000334       3
0.000569       3
0.000934       2
0.000357       2
0.000312       2
0.000145       1
0.000167       1
0.000212       1
0.000359       1
Name: popularity_index, dtype: int64

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20475 entries, 0 to 20622
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              20475 non-null  object
 1   url                20475 non-null  object
 2   categories         20475 non-null  object
 3   description_short  20475 non-null  object
 4   description_long   20475 non-null  object
 5   difficulty         20475 non-null  int64
 6   duration           20475 non-null  int64
 7   free_option        20475 non-null  int64
 8   number_of_enroll   20475 non-null  float64
 9   rating             20475 non-null  float64
 10  paid_option        20475 non-null  object
 11  language           20475 non-null  object
 12  subtitle           20475 non-null  object
 13  platform           20475 non-null  int64
 14  provider           20475 non-null  object
 15  image_url          20475 non-null  object
 16  popularity_index   20475 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 2.8+ MB

In [ ]:
dataset.to_csv('Combined__Data.csv', index=False, encoding='utf_8_sig')