In [2]:

import re
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r'C:\Users\nehab\Desktop\Python\final datasets\freecode_2.csv')

In [4]:
df.head()

,img url,URL,Title,Description,Duration,Time,Price,FinalURL,Provider,Ratings,Difficulty
0,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/classroom/freecod...,Harvard CS50 – Full Computer Science Universit...,Syllabus: ⌨️ Lecture 0 - Scratch⌨️ Lecture 1 -...,24 hours worth of material,On-Demand,Free Online Course,https://www.youtube.com/supported_browsers?nex...,freeCodeCamp,4.8,Introductory
1,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/freecodeca...,Responsive Web Design,"In this Responsive Web Design Certification, y...",300 hours worth of material,On-Demand,Free Certificate,https://www.freecodecamp.org/learn/2022/respon...,freeCodeCamp,4.6,Introductory
2,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/freecodeca...,JavaScript Algorithms and Data Structures,While HTML and CSS control the content and sty...,300 hours worth of material,On-Demand,Free Certificate,https://www.freecodecamp.org/learn/javascript-...,freeCodeCamp,4.8,Introductory
3,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/classroom/freecod...,Database Systems - Cornell University Course (...,Learn about relational and non-relational data...,17 hours worth of material,On-Demand,Free Online Course,https://www.youtube.com/watch?v=4cWkVbC2bNE,freeCodeCamp,4.5,Introductory
4,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/classroom/freecod...,Python for Everybody - Full University Python ...,This Python 3 tutorial course aims to teach ev...,14 hours worth of material,On-Demand,Free Online Course,https://www.youtube.com/watch?v=8DvywoWv6fI,freeCodeCamp,4.7,Introductory

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   img url      517 non-null    object
 1   URL          518 non-null    object
 2   Title        518 non-null    object
 3   Description  518 non-null    object
 4   Duration     518 non-null    object
 5   Time         518 non-null    object
 6   Price        517 non-null    object
 7   FinalURL     518 non-null    object
 8   Provider     518 non-null    object
 9   Ratings      57 non-null     float64
 10  Difficulty   518 non-null    object
dtypes: float64(1), object(10)
memory usage: 44.6+ KB

In [6]:
df.columns

Index(['img url', 'URL', 'Title', 'Description', 'Duration', 'Time', 'Price',
       'FinalURL', 'Provider', 'Ratings', 'Difficulty'],
      dtype='object')

### drop duplicates

In [7]:
df.drop_duplicates(subset="FinalURL",
                     keep=False, inplace=True)

In [8]:
df.shape

(518, 11)

In [9]:
df.dropna(subset=['Price'],inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 517 entries, 0 to 517
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   img url      517 non-null    object
 1   URL          517 non-null    object
 2   Title        517 non-null    object
 3   Description  517 non-null    object
 4   Duration     517 non-null    object
 5   Time         517 non-null    object
 6   Price        517 non-null    object
 7   FinalURL     517 non-null    object
 8   Provider     517 non-null    object
 9   Ratings      57 non-null     float64
 10  Difficulty   517 non-null    object
dtypes: float64(1), object(10)
memory usage: 48.5+ KB

In [11]:
df.shape

(517, 11)

### get title, url

In [12]:
data_name=df['Title']
data_url=df['FinalURL']

In [13]:
df['Description'][0]

'Syllabus: ⌨️ Lecture 0 - Scratch⌨️ Lecture 1 - C⌨️ Lecture 2 - Arrays⌨️ Lecture 3 - Algorithms⌨️ Lecture 4 - Memory⌨️ Lecture 5 - Data Structures⌨️ Lecture 6 - Python⌨️ Lecture 7 - SQL⌨️ Lecture 8 - HTML, CSS, JavaScript⌨️ Lecture 9 - Flask⌨️ Lecture 10 - Emoji⌨️ Cy…'

### Get description

In [14]:
def remove_emoji(text):
    text=text.strip()
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"# symbols & pictographs
        u"\u2328-\ufe0f"                  
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)
    return re.sub(emoji_pattern, '', text)

In [15]:
sdesc=df['Description'].apply(lambda x: '' if pd.isna(x) else remove_emoji(x))

In [16]:
ldesc=df['Description'].apply(lambda x: '' if pd.isna(x) else remove_emoji(x))

In [17]:
sdesc

0      Syllabus:  Lecture 0 - Scratch Lecture 1 - C L...
1      In this Responsive Web Design Certification, y...
2      While HTML and CSS control the content and sty...
3      Learn about relational and non-relational data...
4      This Python 3 tutorial course aims to teach ev...
                             ...
513    Syllabus:   Introduction   Ch 1 - Why HTTP   C...
514    Syllabus:   Demo   Introduction   Setting up  ...
515    Syllabus:  Video 1 - Welcome   Video 2 - Defin...
516    Syllabus:  Intro  Basic setup  Object oriented...
517    Syllabus:   Introduction   1.1 Project Setup &...
Name: Description, Length: 517, dtype: object

### preprocess duration

In [18]:
df['Duration'] = df['Duration'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [19]:
df['Duration'].head(10)

0     24
1    300
2    300
3     17
4     14
5     34
6     37
7     23
8     12
9     45
Name: Duration, dtype: int32

In [20]:
# Convert course duration in hours to categorical
# 0 : short , 1 : medium , 2 : long
def conv_dur(dur):
  if pd.isna(dur):
    cat_dur = np.nan
  elif (dur > 0) and (dur <= 10):
    cat_dur = 0
  elif (dur > 10) and (dur <= 50):
    cat_dur = 1
  else:
    cat_dur = 2
  return cat_dur

In [21]:
data_dur=df['Duration'].apply(lambda x: conv_dur(x))

### preprocess cost

In [22]:
def isfree(strs):
  if 'Free' in strs:
    f = 1
  else:
    f = 0
  return f

In [23]:
df.Price.isna().sum()

0

In [24]:
(df[df.Price.isnull()].head())

Empty DataFrame
Columns: [img url, URL, Title, Description, Duration, Time, Price, FinalURL, Provider, Ratings, Difficulty]
Index: []

In [25]:
df.Price.unique()

array(['Free Online Course', 'Free Certificate'], dtype=object)

In [26]:
data_cost = df['Price'].apply(lambda x :isfree(x))
data_cost

0      1
1      1
2      1
3      1
4      1
      ..
513    1
514    1
515    1
516    1
517    1
Name: Price, Length: 517, dtype: int64

### Preprocess difficulty level

In [27]:
df.Difficulty.isna().sum()

0

In [28]:
df.Difficulty.unique()

array(['Introductory'], dtype=object)

In [29]:
def conv_diff(strs):
  if strs == 'Introductory':
    diff = 0
  elif strs == 'Intermediate':
    diff = 1
  else:
    diff = 2
  return diff

data_diff = df['Difficulty'].apply(lambda x: conv_diff(x))

### preprocess ratings

In [30]:
df.Ratings.isna().sum()

460

In [31]:
meanval = np.mean(df.Ratings)
df.Ratings.fillna(meanval,inplace = True)

In [32]:
df.Ratings.isna().sum()

0

In [33]:
df.Ratings.unique()

array([4.8       , 4.6       , 4.5       , 4.7       , 4.4       ,
       4.9       , 3.9       , 4.        , 5.        , 3.8       ,
       3.        , 4.58245614])

In [34]:
df.dtypes['Ratings']

dtype('float64')

In [35]:
ratings=df['Ratings'].apply(lambda x: round(x,2))

In [36]:
ratings

0      4.80
1      4.60
2      4.80
3      4.50
4      4.70
       ...
513    4.58
514    4.58
515    4.58
516    4.58
517    4.58
Name: Ratings, Length: 517, dtype: float64

In [37]:
data_img=df['img url']

### combine data

In [38]:
df1 = pd.DataFrame(columns = ['Course Name', 'URL', 'Categories', 'Short Description', 'Long Description', 'Difficulty', 'Duration', 'Free Option', 'Number of Enrolled', 'Rating', 'Paid Option', 'Language', 'Subtitle Language', 'Platform', 'Provider', 'Image URL'])
df1

Empty DataFrame
Columns: [Course Name, URL, Categories, Short Description, Long Description, Difficulty, Duration, Free Option, Number of Enrolled, Rating, Paid Option, Language, Subtitle Language, Platform, Provider, Image URL]
Index: []

In [39]:
df1['Course Name']=data_name
df1['Categories']= 'Computer Science'
df1['URL']=data_url
df1['Provider']='freeCodeCamp'
df1['Short Description']=sdesc
df1['Long Description']=ldesc
df1['Difficulty']= data_diff
df1['Duration']=data_dur
df1['Rating']=ratings
df1['Number of Enrolled']=0
df1['Platform']='freeCodeCamp'
df1['Free Option']=data_cost
df1['Paid Option']=0
df1['Language']='English'
df1['Subtitle Language']='English'
df1['Image URL']=data_img

In [40]:
df1.head()

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Harvard CS50 – Full Computer Science Universit...,https://www.youtube.com/supported_browsers?nex...,Computer Science,Syllabus: Lecture 0 - Scratch Lecture 1 - C L...,Syllabus: Lecture 0 - Scratch Lecture 1 - C L...,0,1,1,0,4.8,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
1,Responsive Web Design,https://www.freecodecamp.org/learn/2022/respon...,Computer Science,"In this Responsive Web Design Certification, y...","In this Responsive Web Design Certification, y...",0,2,1,0,4.6,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
2,JavaScript Algorithms and Data Structures,https://www.freecodecamp.org/learn/javascript-...,Computer Science,While HTML and CSS control the content and sty...,While HTML and CSS control the content and sty...,0,2,1,0,4.8,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
3,Database Systems - Cornell University Course (...,https://www.youtube.com/watch?v=4cWkVbC2bNE,Computer Science,Learn about relational and non-relational data...,Learn about relational and non-relational data...,0,1,1,0,4.5,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
4,Python for Everybody - Full University Python ...,https://www.youtube.com/watch?v=8DvywoWv6fI,Computer Science,This Python 3 tutorial course aims to teach ev...,This Python 3 tutorial course aims to teach ev...,0,1,1,0,4.7,0,English,English,freeCodeCamp,freeCodeCamp,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...

In [41]:

len(df1['Course Name'].unique())

517

In [42]:
df1.shape

(517, 16)

In [43]:
df1.to_csv('freecodeCamp_preprocess_done.csv', index=False, encoding='utf_8_sig')