In [57]:
import pandas as pd 
import numpy as np

In [58]:
edx=pd.read_csv('C:/Users/nehab/Desktop/Python/Webscraping/Edx_Courses_Data_New_Final11.csv')

In [59]:
edx.shape

(1189, 15)

In [60]:
edx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189 entries, 0 to 1188
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Course Name          1189 non-null   object
 1   Multi Categories     1189 non-null   object
 2   Course URL           1189 non-null   object
 3   Course Provider      240 non-null    object
 4   Short Description    1092 non-null   object
 5   Long Description     1188 non-null   object
 6   Difficulty           1188 non-null   object
 7   Duration             1185 non-null   object
 8   Commitment           1183 non-null   object
 9   Number of Enrolled   494 non-null    object
 10  Cost                 1189 non-null   object
 11  Alternative Options  1139 non-null   object
 12  Language             1188 non-null   object
 13  Video Language       1135 non-null   object
 14  Prerequisites        1188 non-null   object
dtypes: object(15)
memory usage: 139.5+ KB

In [61]:
edx.columns

Index(['Course Name', 'Multi Categories', 'Course URL', 'Course Provider',
       'Short Description', 'Long Description', 'Difficulty', 'Duration',
       'Commitment', 'Number of Enrolled', 'Cost', 'Alternative Options',
       'Language', 'Video Language', 'Prerequisites'],
      dtype='object')

In [62]:
edx.head()

,Course Name,Multi Categories,Course URL,Course Provider,Short Description,Long Description,Difficulty,Duration,Commitment,Number of Enrolled,Cost,Alternative Options,Language,Video Language,Prerequisites
0,4G Network Essentials,Engineering,https://www.edx.org/course/4g-network-essentials,NaN,Advance your telecom career by learning how 4G...,4G is the cutting-edge network technology that...,Intermediate,6 weeks,3–4 hours per week,NaN,Free,"₹ 4,007",English,English,"BSc degree (algebra, basic mathematics concep..."
1,5G Deployment,"Computer Science, Engineering",https://www.edx.org/course/5g-deployment,NaN,"Learn about 5G deployment, 5G Radio Access Net...","In this course, you will learn about 5G deploy...",Introductory,6 weeks,4–6 hours per week,NaN,Free,"₹ 16,273",English,English,There are no pre-requisites for this course.
2,5G Essentials,"Computer Science, Engineering",https://www.edx.org/course/5g-essentials,Curtin University,"Learn about 5G Networking, 5G architecture, an...","In this course, you will learn and explore abo...",Introductory,7 weeks,4–6 hours per week,NaN,Free,"₹ 16,273",English,English,There are no prerequisites for this course.
3,AI Applications with Watson,Computer Science,https://www.edx.org/course/AI-applications-wit...,NaN,Turbocharge your chatbot's IQ and AI capabilit...,Please Note: Learners who successfully complet...,Intermediate,3 weeks,2–4 hours per week,"13,695",Free,"₹ 8,096",English,English,basic knowledge of object-oriented programming...
4,AI Chatbots without Programming,Computer Science,https://www.edx.org/course/AI-chatbots-without...,NaN,Chatbots are increasingly in demand among glob...,Please Note: Learners who successfully complet...,Introductory,2 weeks,2–4 hours per week,"48,488",Free,"₹ 8,096",English,English,None

### Preprocess difficulty column

In [63]:
print('All levels of difficulty:')
print(edx['Difficulty'].unique())

All levels of difficulty:
['Intermediate' 'Introductory' 'Advanced' nan]

In [64]:
edx['Difficulty'].isnull().sum()

1

In [65]:
edx.dropna(subset=['Difficulty'],inplace=True)

In [66]:
edx['Difficulty'].isnull().sum()

0

In [67]:

# Convert course difficulty from string to numbers in increasing difficulty order

# 0: introductory , 1:Intermediate , 2: Advanced 
def conv_diff(diff_string):

  if diff_string == 'Introductory':
    diff = 0
  elif diff_string == 'Intermediate':
    diff = 1
  else:
    diff = 2
  return diff

In [68]:
# Extract Course Difficulty, one-hot encoded

print('All levels of difficulty:')
print(edx['Difficulty'].unique())

data_difficulty = edx['Difficulty'].apply(lambda x: conv_diff(x))

All levels of difficulty:
['Intermediate' 'Introductory' 'Advanced']

# Preprocess Duration

In [69]:
edx['Duration'].isnull().sum()
edx.dropna(subset=['Duration'],inplace=True)
print(edx['Duration'].isnull().sum())

0

In [70]:
edx['Commitment'].isnull().sum()
edx.dropna(subset=['Commitment'],inplace=True)
print(edx['Commitment'].isnull().sum())

0

In [71]:
# Get course week duration given a string of 'Course Duration'

def cal_cw(course_duration):
  if pd.isna(course_duration):
    cw = np.nan
  else:
    cw = course_duration.split(' ')[0]
    cw = int(cw)
  return cw

In [72]:
# Get average hours per week given a string of 'Commitment'

def cal_ahpw(commitment):
  if pd.isna(commitment):
    ahpw = np.nan
  else:
    list_hours = commitment.split(' ')[0].split('–')
    list_hours = [int(x) for x in list_hours]
    if len(list_hours) == 1:
      ahpw = list_hours[0]
    else:
      ahpw = np.mean(list_hours)
  return ahpw

In [73]:
# Convert course duration in hours to categorical
# 0 : short , 1 : medium , 2 : long
def conv_dur(dur):
  if pd.isna(dur):
    cat_dur = np.nan
  elif (dur > 0) and (dur <= 10):
    cat_dur = 0
  elif (dur > 10) and (dur <= 50):
    cat_dur = 1
  else:
    cat_dur = 2
  return cat_dur

In [74]:
# Filter for non empty value Course Duration
week_non = np.array((edx['Duration'].isna() == False))

In [75]:
# Filter for non empty value Commitment 
com_non= np.array((edx['Commitment'].isna() == False))

In [76]:
# Filter for non empty value for both Course Duration and Commitment
dur_non = week_non * com_non
dur_non

array([ True,  True,  True, ...,  True,  True,  True])

In [77]:
dur_non.sum()

1183

In [78]:
# Calculate global average course duration

avg_dur = (np.array(edx['Duration'][dur_non].apply(lambda x: cal_cw(x))) * np.array(edx['Commitment'][dur_non].apply(lambda x: cal_ahpw(x)))).sum()  / dur_non.sum()
avg_dur

36.30050718512257

In [79]:
# Calculate course duration in hours
# cw - course week duration
# ahpw - average hours per week
# ahpw = cw * ahpw

def cal_dur(week_dur, commt):
  cw = cal_cw(week_dur)
  ahpw = cal_ahpw(commt)
  if pd.isna(cw):
    dur = np.nan
  elif (not(pd.isna(cw)) and pd.isna(ahpw)):
    dur = avg_dur # for courses with number of weeks but not average hours per week info
  else: 
    dur = cw*ahpw
  return conv_dur(dur)

In [80]:
# Get Course Duration in unit of hours
dur_hr = edx[['Duration',	'Commitment']].apply(lambda x: cal_dur(x[0],x[1]), axis=1)

###  Get Course Name, url , category

In [81]:
data_name = edx['Course Name']
data_url = edx['Course URL']
data_cat = edx['Multi Categories']

### Get course description

In [82]:
# Extract Course Short Description
data_sdesc = edx['Short Description'].apply(lambda x: '' if pd.isna(x) else x)

In [83]:
# Extract Course Long Description

data_ldesc = edx['Long Description'].apply(lambda x: '' if pd.isna(x) else x)

### get cost column

In [84]:
edx.Cost.isna().sum()

0

In [85]:
# Check if free option is available
# 1 : Free , 0: not free
data_costcat =edx['Cost'].apply(lambda x: 1 if x == 'Free' else 0)

In [86]:
list1=edx[edx['Cost']!='Free']
len(list1)

22

In [87]:
# Get Cost for paid option

data_paid = edx['Alternative Options'].apply(lambda x: 0 if pd.isna(x) else x)

### Rating

In [88]:
edx['Number of Enrolled'].isna().sum()

689

In [89]:

data_enroll = edx['Number of Enrolled'].apply(lambda x: '0' if pd.isna(x) else x)
data_enroll = data_enroll.apply(lambda x: x.replace(',', ''))
data_enroll = data_enroll.apply(lambda x: int(x))

In [90]:
data_enroll

0           0
1           0
2           0
3       13695
4       48488
        ...
1184        0
1185        0
1186        0
1187        0
1188        0
Name: Number of Enrolled, Length: 1183, dtype: int64

In [91]:
data_rating = np.zeros(data_enroll.shape[0])
data_rating

array([0., 0., 0., ..., 0., 0., 0.])

In [92]:
# Get course list of subtitle language available

data_sublang = edx['Video Language'].apply(lambda x: 'English' if pd.isna(x) else x)

In [93]:
# Add Platform name
# 0 - Edx

data_plat = np.zeros(edx.shape[0])

In [94]:
# Course Provider
data_prov=edx['Course Provider'].apply(lambda x: 'edX' if pd.isna(x) else x)

In [95]:
# get courde img url
edx['Course Img']='https://www.edx.org/images/logos/edx-logo-elm.svg'
data_img = edx['Course Img']

In [96]:
data_lang = edx['Language']

## Combine data

In [97]:
# Combine Data

data_header = ['Course Name', 'URL', 'Categories', 'Short Description', 'Long Description', 'Difficulty', 'Duration', 'Free Option', 'Number of Enrolled', 'Rating', 'Paid Option', 'Language', 'Subtitle Language', 'Platform', 'Provider', 'Image URL']
data_comb = np.array([data_name, data_url, data_cat, data_sdesc, data_ldesc, data_difficulty, dur_hr, data_costcat, data_enroll, data_rating, data_paid, data_lang, data_sublang, data_plat, data_prov, data_img])

C:\Users\nehab\AppData\Local\Temp/ipykernel_1548/581799847.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  data_comb = np.array([data_name, data_url, data_cat, data_sdesc, data_ldesc, data_difficulty, dur_hr, data_costcat, data_enroll, data_rating, data_paid, data_lang, data_sublang, data_plat, data_prov, data_img])

In [98]:
df = pd.DataFrame(columns=data_header)
df.head()

Empty DataFrame
Columns: [Course Name, URL, Categories, Short Description, Long Description, Difficulty, Duration, Free Option, Number of Enrolled, Rating, Paid Option, Language, Subtitle Language, Platform, Provider, Image URL]
Index: []

In [99]:

df['Course Name']=data_name
df['Categories']= data_cat
df['URL']=data_url
df['Provider']=data_prov
df['Short Description']=data_sdesc
df['Long Description']=data_ldesc
df['Difficulty']= data_difficulty
df['Duration']=dur_hr
df['Rating']=data_rating
df['Number of Enrolled']=data_enroll
df['Platform']=data_plat
df['Free Option']=data_costcat
df['Paid Option']=data_paid
df['Language']=data_lang
df['Subtitle Language']=data_sublang
df['Image URL']=data_img

In [100]:
df.head()

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,4G Network Essentials,https://www.edx.org/course/4g-network-essentials,Engineering,Advance your telecom career by learning how 4G...,4G is the cutting-edge network technology that...,1,1,1,0,0.0,"₹ 4,007",English,English,0.0,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
1,5G Deployment,https://www.edx.org/course/5g-deployment,"Computer Science, Engineering","Learn about 5G deployment, 5G Radio Access Net...","In this course, you will learn about 5G deploy...",0,1,1,0,0.0,"₹ 16,273",English,English,0.0,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
2,5G Essentials,https://www.edx.org/course/5g-essentials,"Computer Science, Engineering","Learn about 5G Networking, 5G architecture, an...","In this course, you will learn and explore abo...",0,1,1,0,0.0,"₹ 16,273",English,English,0.0,Curtin University,https://www.edx.org/images/logos/edx-logo-elm.svg
3,AI Applications with Watson,https://www.edx.org/course/AI-applications-wit...,Computer Science,Turbocharge your chatbot's IQ and AI capabilit...,Please Note: Learners who successfully complet...,1,0,1,13695,0.0,"₹ 8,096",English,English,0.0,edX,https://www.edx.org/images/logos/edx-logo-elm.svg
4,AI Chatbots without Programming,https://www.edx.org/course/AI-chatbots-without...,Computer Science,Chatbots are increasingly in demand among glob...,Please Note: Learners who successfully complet...,0,0,1,48488,0.0,"₹ 8,096",English,English,0.0,edX,https://www.edx.org/images/logos/edx-logo-elm.svg

In [101]:
len(df['Course Name'].unique())

1183

In [102]:
df = df.drop_duplicates(subset=['Course Name'])

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1183 entries, 0 to 1188
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         1183 non-null   object
 1   URL                 1183 non-null   object
 2   Categories          1183 non-null   object
 3   Short Description   1183 non-null   object
 4   Long Description    1183 non-null   object
 5   Difficulty          1183 non-null   int64
 6   Duration            1183 non-null   int64
 7   Free Option         1183 non-null   int64
 8   Number of Enrolled  1183 non-null   int64
 9   Rating              1183 non-null   float64
 10  Paid Option         1183 non-null   object
 11  Language            1183 non-null   object
 12  Subtitle Language   1183 non-null   object
 13  Platform            1183 non-null   float64
 14  Provider            1183 non-null   object
 15  Image URL           1183 non-null   object
dtypes: float64(2), int64(4), object(10)
memory usage: 157.1+ KB

In [104]:
(df.isna()).sum()

Course Name           0
URL                   0
Categories            0
Short Description     0
Long Description      0
Difficulty            0
Duration              0
Free Option           0
Number of Enrolled    0
Rating                0
Paid Option           0
Language              0
Subtitle Language     0
Platform              0
Provider              0
Image URL             0
dtype: int64

In [105]:
filename = 'Edx_Data_preprocess_done.csv'
df.to_csv(filename, index=False, encoding='utf_8_sig')