In [118]:

import re
import pandas as pd
import numpy as np

In [119]:
df=pd.read_csv(r'C:\Users\nehab\Desktop\Python\final datasets\LinkedIn_data____1.csv')

In [120]:
df.head()

,urlc,img url,URL,Title,Ratings,Description,Duration,Time,Price,FinalUrl,newRatings,Level,Numenroll,RRRR,skill learn
0,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,CompTIA Network+ (N10-007) Cert Prep: 1 Unders...,2601 ratings at LinkedIn Learning,Earn your CompTIA Network+ certification. Part...,Less than 1 hour of material,On-Demand,Free Trial Available,https://www.linkedin.com/learning/comptia-netw...,4.7,Intermediate,"1,344 users",4.8,"Network Administration,"
1,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,CSS Essential Training,3699 ratings at LinkedIn Learning,Explore the concepts that form the foundation ...,4-5 hours worth of material,On-Demand,Free Trial Available,https://www.linkedin.com/learning/css-essentia...,4.7,Beginner,"12,190 users",4.7,"Cascading Style Sheets (CSS),"
2,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,Succeeding in Web Development: Full Stack and ...,3767 ratings at LinkedIn Learning,Do you want to become a web developer? Learn a...,1-2 hours worth of material,On-Demand,Free Trial Available,https://www.linkedin.com/learning/succeeding-i...,4.7,Beginner,"11,456 users",4.7,"Front-End Development,Full-Stack Development,"
3,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,JavaScript Essential Training,1 review,Get hands-on experience scripting in JavaScrip...,5 hours worth of material,On-Demand,Free Trial Available,https://www.linkedin.com/learning/javascript-e...,5.0,Beginner,"14,737 users",4.8,"JavaScript,"
4,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,WordPress: Workflows,174 ratings at LinkedIn Learning,Be a more efficient WordPress developer. Disco...,1-2 hours worth of material,On-Demand,Free Trial Available,https://www.linkedin.com/learning/wordpress-wo...,4.5,Advanced,477 users,4.5,"WordPress,"

In [121]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1575 entries, 0 to 1574
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   urlc         1524 non-null   object
 1   img url      1524 non-null   object
 2   URL          1575 non-null   object
 3   Title        1575 non-null   object
 4   Ratings      769 non-null    object
 5   Description  1575 non-null   object
 6   Duration     1575 non-null   object
 7   Time         1575 non-null   object
 8   Price        1574 non-null   object
 9   FinalUrl     1575 non-null   object
 10  newRatings   457 non-null    float64
 11  Level        1570 non-null   object
 12  Numenroll    1568 non-null   object
 13  RRRR         1227 non-null   float64
 14  skill learn  1568 non-null   object
dtypes: float64(2), object(13)
memory usage: 184.7+ KB

In [122]:
df.columns

Index(['urlc', 'img url', 'URL', 'Title', 'Ratings', 'Description', 'Duration',
       'Time', 'Price', 'FinalUrl', 'newRatings', 'Level', 'Numenroll', 'RRRR',
       'skill learn'],
      dtype='object')

In [123]:
len(df.FinalUrl.unique())

1575

### drop duplicates

In [124]:
df.drop_duplicates(subset="FinalUrl",
                     keep=False, inplace=True)

In [125]:
df=df[df['Duration']!='Free Trial Available']
df.shape

(1574, 15)

In [126]:
df.shape

(1574, 15)

In [127]:
df.describe()

       newRatings         RRRR
count  456.000000  1227.000000
mean     4.653070     4.663896
std      0.163046     0.133563
min      3.000000     3.100000
25%      4.600000     4.600000
50%      4.700000     4.700000
75%      4.700000     4.700000
max      5.000000     5.000000

### Get url , name

In [128]:
data_name=df['Title']
data_url=df['FinalUrl']

### get description

In [129]:
sdesc=df['Description'].apply(lambda x: '' if pd.isna(x) else (x))

In [130]:
ldesc=df['Description'].apply(lambda x: '' if pd.isna(x) else (x))

### Preprocess duration

In [131]:
df.Duration.isna().sum()

0

In [132]:
# Convert course duration in hours to categorical

def conv_dur(dur):
  if pd.isna(dur):
    cat_dur = np.nan
  elif (dur > 0) and (dur <= 10):
    cat_dur = 0
  elif (dur > 10) and (dur <= 50):
    cat_dur = 1
  else:
    cat_dur = 2
  return cat_dur

In [133]:
df.Duration.unique()

array(['Less than 1 hour of material', '4-5 hours worth of material',
       '1-2 hours worth of material', '5 hours worth of material',
       '2-3 hours worth of material', '6 hours worth of material',
       '3-4 hours worth of material', '7 hours worth of material',
       '8 hours worth of material', '9 hours worth of material',
       '18 hours worth of material', '10 hours worth of material',
       '3 hours worth of material', '15 hours worth of material',
       '38 hours worth of material', '41 hours worth of material',
       '30 hours worth of material'], dtype=object)

In [134]:
df=df[df['Duration']!='Free Trial Available']
df.shape

(1574, 15)

In [135]:

def extract_dur(strDur):
    strDur=strDur.lower()
    x=0
    if ('-' not in strDur):
        x = int(re.sub("\D", "", strDur))
        return x
    
    strDur=strDur.split()
    
    if '-' in strDur[0]:
        dur=(strDur[0].split('-'))
        a=int(dur[0])
        b=int(dur[1])
        avghr=(a+b)/2
        x=avghr
        
    return x

In [136]:
df['Duration']=df.Duration.apply(lambda x : extract_dur(x))

In [137]:
df.Duration

0        1.0
1        4.5
2        1.5
3        5.0
4        1.5
        ...
1570     2.5
1571    41.0
1572     5.0
1573    30.0
1574     1.5
Name: Duration, Length: 1574, dtype: float64

In [138]:
data_dur=df['Duration'].apply(lambda x: conv_dur(x))

### get cost

In [139]:
df.Price.isna().sum()

0

In [140]:
df.Price.unique()

array(['Free Trial Available'], dtype=object)

In [141]:
data_cost = df['Price'].apply(lambda x : 0 )
data_cost

0       0
1       0
2       0
3       0
4       0
       ..
1570    0
1571    0
1572    0
1573    0
1574    0
Name: Price, Length: 1574, dtype: int64

In [142]:
data_alt_cost=df['Price'].apply(lambda x : 'Subscription Required' )

### get img url

In [143]:
df['img url'].isna().sum()

51

In [144]:
imgurl='https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Logo.svg.original.svg'

In [145]:
df['img url']=df['img url'].apply(lambda x: imgurl if pd.isna(x) else x)

In [146]:
data_img=df['img url']

In [147]:
df.head()

,urlc,img url,URL,Title,Ratings,Description,Duration,Time,Price,FinalUrl,newRatings,Level,Numenroll,RRRR,skill learn
0,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,CompTIA Network+ (N10-007) Cert Prep: 1 Unders...,2601 ratings at LinkedIn Learning,Earn your CompTIA Network+ certification. Part...,1.0,On-Demand,Free Trial Available,https://www.linkedin.com/learning/comptia-netw...,4.7,Intermediate,"1,344 users",4.8,"Network Administration,"
1,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,CSS Essential Training,3699 ratings at LinkedIn Learning,Explore the concepts that form the foundation ...,4.5,On-Demand,Free Trial Available,https://www.linkedin.com/learning/css-essentia...,4.7,Beginner,"12,190 users",4.7,"Cascading Style Sheets (CSS),"
2,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,Succeeding in Web Development: Full Stack and ...,3767 ratings at LinkedIn Learning,Do you want to become a web developer? Learn a...,1.5,On-Demand,Free Trial Available,https://www.linkedin.com/learning/succeeding-i...,4.7,Beginner,"11,456 users",4.7,"Front-End Development,Full-Stack Development,"
3,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,JavaScript Essential Training,1 review,Get hands-on experience scripting in JavaScrip...,5.0,On-Demand,Free Trial Available,https://www.linkedin.com/learning/javascript-e...,5.0,Beginner,"14,737 users",4.8,"JavaScript,"
4,https://www.classcentral.com/course/linkedin-l...,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...,https://www.classcentral.com/course/linkedin-l...,WordPress: Workflows,174 ratings at LinkedIn Learning,Be a more efficient WordPress developer. Disco...,1.5,On-Demand,Free Trial Available,https://www.linkedin.com/learning/wordpress-wo...,4.5,Advanced,477 users,4.5,"WordPress,"

### get difficulty level

In [148]:
df.Level.isna().sum()

4

In [149]:
df.Level.unique()

array(['Intermediate', 'Beginner', 'Advanced', 'Beginner + Intermediate',
       'General', nan], dtype=object)

In [150]:
# Extract Course Difficulty, converted to numerical category and normalised
def conv_diff(strs):
  if strs == 'General' or strs == 'Beginner' or strs=='Beginner + Intermediate' or strs==np.nan:
    diff = 0
  elif strs == 'Intermediate':
    diff = 1
  else:
    diff = 2
  return diff

data_diff = df['Level'].apply(lambda x: conv_diff(x)) # difficulty in numerical category

In [151]:
len(data_diff)

1574

In [152]:
data_diff.unique()

array([1, 0, 2], dtype=int64)

### get no. of enrollment

In [153]:
df.Numenroll.isna().sum()

6

In [154]:
df.Numenroll.fillna('0',inplace = True)

In [155]:
def get_number(strs):
  num = re.findall(r'\d+[,]*\d*[,]*\d*',strs)[0].replace(',','')
  return int(num)

df.Numenroll = df.Numenroll.apply(lambda x:get_number(x))

In [156]:
df.Numenroll.isna().sum()

0

In [157]:
df.Numenroll.dtypes

dtype('int64')

In [158]:
numsenroll=df.Numenroll

### Get category

In [159]:
df['skill learn'].isna().sum()

6

In [160]:
data_cat=df['skill learn'].apply(lambda x: 'Computer Science' if pd.isna(x) else (x.rstrip(',')))
data_cat

0                             Network Administration
1                       Cascading Style Sheets (CSS)
2       Front-End Development,Full-Stack Development
3                                         JavaScript
4                                          WordPress
                            ...
1570               Microsoft Azure,Disaster Recovery
1571                                Computer Science
1572                                Computer Science
1573                                Computer Science
1574                                     ARKit,Unity
Name: skill learn, Length: 1574, dtype: object

### get ratings

In [161]:
df.RRRR.isna().sum()

347

In [162]:
df.RRRR.dtypes

dtype('float64')

In [163]:
df.RRRR.unique()

array([4.8, 4.7, 4.5, 4.6, 4.9, nan, 4.4, 3.9, 4.2, 4.3, 4. , 3.1, 5. ,
       3.8, 4.1])

In [164]:
df.RRRR =df.RRRR.apply(lambda x : np.nan if pd.isna(x) else (x))

In [165]:
meanval=df.RRRR.median()
print(meanval)
df.RRRR.fillna(meanval,inplace = True)

4.7

In [166]:
df.RRRR.isna().sum()

0

In [167]:
ratings=df.RRRR

### Combine data

In [168]:
df1 = pd.DataFrame(columns = ['Course Name', 'URL', 'Categories', 'Short Description', 'Long Description', 'Difficulty', 'Duration', 'Free Option', 'Number of Enrolled', 'Rating', 'Paid Option', 'Language', 'Subtitle Language', 'Platform', 'Provider', 'Image URL'])
df1

Empty DataFrame
Columns: [Course Name, URL, Categories, Short Description, Long Description, Difficulty, Duration, Free Option, Number of Enrolled, Rating, Paid Option, Language, Subtitle Language, Platform, Provider, Image URL]
Index: []

In [169]:
df1['Course Name']=data_name
df1['Categories']= data_cat
df1['URL']=data_url
df1['Provider']='LinkedIn Learning'
df1['Short Description']=sdesc
df1['Long Description']=ldesc
df1['Difficulty']= data_diff
df1['Duration']=data_dur
df1['Rating']=ratings
df1['Number of Enrolled']=numsenroll
df1['Platform']='LinkedIn Learning'
df1['Free Option']=0
df1['Paid Option']='Subscription Required'
df1['Language']='English'
df1['Subtitle Language']='English'
df1['Image URL']=data_img

In [170]:
df1.head()

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,CompTIA Network+ (N10-007) Cert Prep: 1 Unders...,https://www.linkedin.com/learning/comptia-netw...,Network Administration,Earn your CompTIA Network+ certification. Part...,Earn your CompTIA Network+ certification. Part...,1,0,0,1344,4.8,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
1,CSS Essential Training,https://www.linkedin.com/learning/css-essentia...,Cascading Style Sheets (CSS),Explore the concepts that form the foundation ...,Explore the concepts that form the foundation ...,0,0,0,12190,4.7,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
2,Succeeding in Web Development: Full Stack and ...,https://www.linkedin.com/learning/succeeding-i...,"Front-End Development,Full-Stack Development",Do you want to become a web developer? Learn a...,Do you want to become a web developer? Learn a...,0,0,0,11456,4.7,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
3,JavaScript Essential Training,https://www.linkedin.com/learning/javascript-e...,JavaScript,Get hands-on experience scripting in JavaScrip...,Get hands-on experience scripting in JavaScrip...,0,0,0,14737,4.8,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...
4,WordPress: Workflows,https://www.linkedin.com/learning/wordpress-wo...,WordPress,Be a more efficient WordPress developer. Disco...,Be a more efficient WordPress developer. Disco...,2,0,0,477,4.5,Subscription Required,English,English,LinkedIn Learning,LinkedIn Learning,https://d3f1iyfxxz8i1e.cloudfront.net/courses/...

In [171]:

len(df1['Course Name'].unique())

1412

In [172]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1574 entries, 0 to 1574
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         1574 non-null   object
 1   URL                 1574 non-null   object
 2   Categories          1574 non-null   object
 3   Short Description   1574 non-null   object
 4   Long Description    1574 non-null   object
 5   Difficulty          1574 non-null   int64
 6   Duration            1574 non-null   int64
 7   Free Option         1574 non-null   int64
 8   Number of Enrolled  1574 non-null   int64
 9   Rating              1574 non-null   float64
 10  Paid Option         1574 non-null   object
 11  Language            1574 non-null   object
 12  Subtitle Language   1574 non-null   object
 13  Platform            1574 non-null   object
 14  Provider            1574 non-null   object
 15  Image URL           1574 non-null   object
dtypes: float64(1), int64(4), object(11)
memory usage: 209.0+ KB

In [173]:
df1.describe()

        Difficulty     Duration  Free Option  Number of Enrolled       Rating
count  1574.000000  1574.000000       1574.0         1574.000000  1574.000000
mean      0.724905     0.003177          0.0         1812.596569     4.671855
std       0.666081     0.056290          0.0         3384.691266     0.118861
min       0.000000     0.000000          0.0            0.000000     3.100000
25%       0.000000     0.000000          0.0          258.250000     4.600000
50%       1.000000     0.000000          0.0          660.000000     4.700000
75%       1.000000     0.000000          0.0         1834.750000     4.700000
max       2.000000     1.000000          0.0        35211.000000     5.000000

In [174]:
df1.to_csv('LinkedIn_preprocess_done.csv', index=False, encoding='utf_8_sig')