In [166]:

import re
import pandas as pd
import numpy as np

In [167]:
df=pd.read_csv(r'C:\Users\nehab\Desktop\Python\final datasets\udacity.csv')

In [168]:
df.head()

,card_container__tm_J1 href,card_image__fZ2qh src,card_flag__PGsM1,card_title__6gX9X,card_summary__uxD6t,skills learn,pre-requisites,Difficulty,duration,rating,reviews,provider
0,https://www.udacity.com/course/data-engineer-n...,https://www.udacity.com/www-proxy/contentful/a...,nanodegree,Data Engineering with AWS,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",intermediate,4 Months,4.6 stars,1808 reviews,NaN
1,https://www.udacity.com/course/intro-to-progra...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Introduction to Programming,A first step for beginners towards careers in ...,"Front-End Development Basics, HTML, CSS, Py...",No coding experience needed,beginner,4 Months,4.7 stars,3865 reviews,NaN
2,https://www.udacity.com/course/c-plus-plus-nan...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,C++,Get hands-on experience building five real-wor...,"Data Structures, Algorithms, Memory Manageme...",Intermediate Programming,intermediate,4 Months,4.5 stars,1128 reviews,NaN
3,https://www.udacity.com/course/business-analyt...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Business Analytics,Gain foundational data skills like analyzing d...,"Excel/Spreadsheets, SQL, Data Visualization,...",None,beginner,3 Months,4.8 stars,2660 reviews,Mode
4,https://www.udacity.com/course/data-analyst-na...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Data Analyst,"Use Python, SQL, and statistics to uncover ins...","Data Wrangling, Matplotlib, Bootstrapping, ...",Python & SQL,intermediate,4 Months,4.6 stars,3498 reviews,Kaggle

In [169]:
df.columns=['URL','img','type','Name','description','skills learn','pre-requisites','Difficulty',	'duration',	'rating',	'reviews',	'provider']

In [170]:
df.head()

,URL,img,type,Name,description,skills learn,pre-requisites,Difficulty,duration,rating,reviews,provider
0,https://www.udacity.com/course/data-engineer-n...,https://www.udacity.com/www-proxy/contentful/a...,nanodegree,Data Engineering with AWS,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",intermediate,4 Months,4.6 stars,1808 reviews,NaN
1,https://www.udacity.com/course/intro-to-progra...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Introduction to Programming,A first step for beginners towards careers in ...,"Front-End Development Basics, HTML, CSS, Py...",No coding experience needed,beginner,4 Months,4.7 stars,3865 reviews,NaN
2,https://www.udacity.com/course/c-plus-plus-nan...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,C++,Get hands-on experience building five real-wor...,"Data Structures, Algorithms, Memory Manageme...",Intermediate Programming,intermediate,4 Months,4.5 stars,1128 reviews,NaN
3,https://www.udacity.com/course/business-analyt...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Business Analytics,Gain foundational data skills like analyzing d...,"Excel/Spreadsheets, SQL, Data Visualization,...",None,beginner,3 Months,4.8 stars,2660 reviews,Mode
4,https://www.udacity.com/course/data-analyst-na...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Data Analyst,"Use Python, SQL, and statistics to uncover ins...","Data Wrangling, Matplotlib, Bootstrapping, ...",Python & SQL,intermediate,4 Months,4.6 stars,3498 reviews,Kaggle

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   URL             263 non-null    object
 1   img             263 non-null    object
 2   type            263 non-null    object
 3   Name            263 non-null    object
 4   description     257 non-null    object
 5   skills learn    251 non-null    object
 6   pre-requisites  76 non-null     object
 7   Difficulty      263 non-null    object
 8   duration        259 non-null    object
 9   rating          62 non-null     object
 10  reviews         62 non-null     object
 11  provider        134 non-null    object
dtypes: object(12)
memory usage: 24.8+ KB

### Get url,name

In [172]:
len(df.URL.unique())

263

In [173]:
data_name=df['Name']
data_url=df['URL']

### Get description

In [174]:
df['description'].isna().sum()

6

In [175]:
sdesc=df['description'].apply(lambda x: '' if pd.isna(x) else (x))
ldesc=df['description'].apply(lambda x: '' if pd.isna(x) else (x))

### Get category

In [176]:
data_cat=df['skills learn'].apply(lambda x: '' if pd.isna(x) else (x))
data_cat

0      AWS Glue,  Amazon S3,  AWS Data Warehouse,  Re...
1      Front-End Development Basics,  HTML,  CSS,  Py...
2      Data Structures,  Algorithms,  Memory Manageme...
3      Excel/Spreadsheets,  SQL,  Data Visualization,...
4      Data Wrangling,  Matplotlib,  Bootstrapping,  ...
                             ...
258    Interview questions, Common FE Questions, Whit...
259    Interview practice, Common FS Questions, White...
260    Interview practice, Swift, Data structures, Ca...
261    Interview practice, Common iOS Questions, Whit...
262    Interview practice, Common VR Questions, White...
Name: skills learn, Length: 263, dtype: object

### Get difficulty

In [177]:
df.Difficulty.isna().sum()

0

In [178]:
df.Difficulty.unique()

array(['intermediate', 'beginner', 'advanced'], dtype=object)

In [179]:
def conv_diff(strs):
  if strs == 'beginner':
    diff = 0
  elif strs == 'intermediate':
    diff = 1
  else:
    diff = 2
  return diff

data_diff = df['Difficulty'].apply(lambda x: conv_diff(x))

In [180]:
len(data_diff)

263

### Get duration

In [181]:
df.duration.isna().sum()

4

In [182]:
df.duration.unique()

array(['4 Months', '3 Months', '6 Months', '5 Months', '2 Months',
       '1 Month', '2 Weeks', '3 Weeks', '1 Week', '10 Hours', '5 Weeks',
       '4 Weeks', '6 Weeks', '16 Weeks', '8 Weeks', '1 Day', nan,
       '3 Days', '2 Days', '7 Days', '6 Days', '1 Hour', '7 Weeks',
       '10 Weeks'], dtype=object)

In [183]:
def extract_hr(strDur):
    
    strDur=strDur.lower()
    
    x=''
    if 'hour' in strDur:
        x = int(re.sub("\D", "", strDur))
        return x
    if 'days' in strDur or 'day' in strDur:
        x = int(re.sub("\D", "", strDur))
        return (x*24)
    if 'weeks' in strDur or 'week' in strDur:
        x = int(re.sub("\D", "", strDur))
        return (x*7*24)
    if 'month' in strDur or 'months' in strDur:
        x = int(re.sub("\D", "", strDur))
        return (x*30*24)
    
    return x

In [184]:
df['duration']=df.duration.apply(lambda x : np.nan if pd.isna(x) else extract_hr(x))
df.head()

,URL,img,type,Name,description,skills learn,pre-requisites,Difficulty,duration,rating,reviews,provider
0,https://www.udacity.com/course/data-engineer-n...,https://www.udacity.com/www-proxy/contentful/a...,nanodegree,Data Engineering with AWS,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",intermediate,2880.0,4.6 stars,1808 reviews,NaN
1,https://www.udacity.com/course/intro-to-progra...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Introduction to Programming,A first step for beginners towards careers in ...,"Front-End Development Basics, HTML, CSS, Py...",No coding experience needed,beginner,2880.0,4.7 stars,3865 reviews,NaN
2,https://www.udacity.com/course/c-plus-plus-nan...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,C++,Get hands-on experience building five real-wor...,"Data Structures, Algorithms, Memory Manageme...",Intermediate Programming,intermediate,2880.0,4.5 stars,1128 reviews,NaN
3,https://www.udacity.com/course/business-analyt...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Business Analytics,Gain foundational data skills like analyzing d...,"Excel/Spreadsheets, SQL, Data Visualization,...",None,beginner,2160.0,4.8 stars,2660 reviews,Mode
4,https://www.udacity.com/course/data-analyst-na...,https://d20vrrgs8k4bvw.cloudfront.net/images/d...,nanodegree,Data Analyst,"Use Python, SQL, and statistics to uncover ins...","Data Wrangling, Matplotlib, Bootstrapping, ...",Python & SQL,intermediate,2880.0,4.6 stars,3498 reviews,Kaggle

In [185]:
df.duration.isna().sum()

4

In [186]:
meanval = np.mean(df.duration)
df.duration.fillna(meanval,inplace = True)

In [187]:
df.duration.isna().sum()

0

In [188]:
# Convert course duration in hours to categorical

def conv_dur(dur):
  if pd.isna(dur):
    cat_dur = np.nan
  elif (dur > 0) and (dur <= 10):
    cat_dur = 0
  elif (dur > 10) and (dur <= 50):
    cat_dur = 1
  else:
    cat_dur = 2
  return cat_dur

In [189]:
data_dur=df['duration'].apply(lambda x: conv_dur(x))
data_dur

0      2
1      2
2      2
3      2
4      2
      ..
258    2
259    2
260    2
261    2
262    2
Name: duration, Length: 263, dtype: int64

### Get ratings

In [190]:
df.rating.isna().sum()

201

In [191]:
df.rating.unique()

array(['4.6 stars', '4.7 stars', '4.5 stars', '4.8 stars', nan,
       '4.4 stars', '4.3 stars'], dtype=object)

In [192]:
def get_rat(rating):
    num = float(re.findall(r'\d+[.]*\d*',rating)[0])
    return num

In [193]:
df.rating =df.rating.apply(lambda x : np.nan if pd.isna(x) else get_rat(x))

In [194]:
meanval=df.rating.median()
print(meanval)
df.rating.fillna(meanval,inplace = True)

4.6

In [195]:
df.rating.isna().sum()

0

In [196]:
ratings=df.rating

### get img url

In [197]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   URL             263 non-null    object
 1   img             263 non-null    object
 2   type            263 non-null    object
 3   Name            263 non-null    object
 4   description     257 non-null    object
 5   skills learn    251 non-null    object
 6   pre-requisites  76 non-null     object
 7   Difficulty      263 non-null    object
 8   duration        263 non-null    float64
 9   rating          263 non-null    float64
 10  reviews         62 non-null     object
 11  provider        134 non-null    object
dtypes: float64(2), object(10)
memory usage: 24.8+ KB

In [198]:
data_img=df['img']
data_img[0]

'https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/SzLy0ZloqObm1D7fuJEPf/bead7f6394816605e6e5f59acd47b4c1/catalog-card_2x__1_.jpg'

### get reviews

In [199]:
df.reviews

0      1808 reviews
1      3865 reviews
2      1128 reviews
3      2660 reviews
4      3498 reviews
           ...
258             NaN
259             NaN
260             NaN
261             NaN
262             NaN
Name: reviews, Length: 263, dtype: object

In [200]:
df.reviews.isna().sum()

201

In [201]:
# replacing values with 'recent views' with integer number 
def get_enrolls(strs):
  if isinstance(strs, str) and 'reviews' in strs:
    num = re.findall(r'[0-9]+',strs)[0]
    # dividing the number of views by 10 (assume 1 in 10 ppl take the course)
    num = int(num) 
    return int(num)

df['No. of Students Enrolled'] = df['reviews'].apply(lambda x:get_enrolls(x))
medianEnrolled = df['No. of Students Enrolled'].median()
df['No. of Students Enrolled'].fillna(medianEnrolled,inplace = True)

In [202]:
df['No. of Students Enrolled'].isna().sum()
len(df['No. of Students Enrolled'])

263

In [203]:
numsenroll=df['No. of Students Enrolled']

### get provider

In [204]:
df.provider.isna().sum()

129

In [205]:
df.provider.unique()

array([nan, 'Mode', 'Kaggle', 'WorldQuant',
       'Bertelsmann, Figure Eight, IBM Watson, Insight, Kaggle, Starbucks',
       'Waymo, Mercedes-Benz', 'Google', 'Appen',
       'Amazon Alexa, IBM Watson',
       'Unity, Nvidia Deep Learning Institute',
       'Affectiva, Nvidia Deep Learning Institute', 'AWS', 'BMW',
       'ThoughtWorks', 'Mercedes-Benz', 'SecurityScorecard', 'SUSE',
       'Kaggle, AWS', 'Microsoft', 'Alteryx', 'Google Cloud',
       'Georgia Institute of Technology', 'Amazon Web Services',
       'Insight', 'MongoDB', 'Amazon Appstore for Android', 'Buddybuild',
       'Google VR', 'Venmo, Lyft', 'Autodesk',
       'San Jose State University', 'Facebook for Developers', 'WeChat',
       'Salesforce', 'Upwork', 'Microsoft Azure', 'Facebook AI', 'AT&T',
       'Zipfian', 'Cloudera', 'Twitter', 'Facebook', 'TensorFlow Lite',
       'TensorFlow', 'AWS DeepRacer', 'Oracle', 'Baidu',
       'Grow With Google'], dtype=object)

In [206]:
df.provider=df.provider.apply(lambda x: 'Udacity' if pd.isna(x) else x)

In [207]:
df.provider.isna().sum()

0

In [208]:
data_provide=df.provider

### Combine data

In [209]:
df1 = pd.DataFrame(columns = ['Course Name', 'URL', 'Categories', 'Short Description', 'Long Description', 'Difficulty', 'Duration', 'Free Option', 'Number of Enrolled', 'Rating', 'Paid Option', 'Language', 'Subtitle Language', 'Platform', 'Provider', 'Image URL'])
df1

Empty DataFrame
Columns: [Course Name, URL, Categories, Short Description, Long Description, Difficulty, Duration, Free Option, Number of Enrolled, Rating, Paid Option, Language, Subtitle Language, Platform, Provider, Image URL]
Index: []

In [210]:
df1['Course Name']=data_name
df1['Categories']= data_cat
df1['URL']=data_url
df1['Provider']=data_provide
df1['Short Description']=sdesc
df1['Long Description']=ldesc
df1['Difficulty']= data_diff
df1['Duration']=data_dur
df1['Rating']=ratings
df1['Number of Enrolled']=numsenroll
df1['Platform']='Udacity'
df1['Free Option']=0
df1['Paid Option']=' Subscription ₹22849 per month'
df1['Language']='English'
df1['Subtitle Language']='English'
df1['Image URL']=data_img

In [211]:
df1.head()

,Course Name,URL,Categories,Short Description,Long Description,Difficulty,Duration,Free Option,Number of Enrolled,Rating,Paid Option,Language,Subtitle Language,Platform,Provider,Image URL
0,Data Engineering with AWS,https://www.udacity.com/course/data-engineer-n...,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Learn to design data models, build data wareho...","Learn to design data models, build data wareho...",1,2,0,1808.0,4.6,Subscription ₹22849 per month,English,English,Udacity,Udacity,https://www.udacity.com/www-proxy/contentful/a...
1,Introduction to Programming,https://www.udacity.com/course/intro-to-progra...,"Front-End Development Basics, HTML, CSS, Py...",A first step for beginners towards careers in ...,A first step for beginners towards careers in ...,0,2,0,3865.0,4.7,Subscription ₹22849 per month,English,English,Udacity,Udacity,https://d20vrrgs8k4bvw.cloudfront.net/images/d...
2,C++,https://www.udacity.com/course/c-plus-plus-nan...,"Data Structures, Algorithms, Memory Manageme...",Get hands-on experience building five real-wor...,Get hands-on experience building five real-wor...,1,2,0,1128.0,4.5,Subscription ₹22849 per month,English,English,Udacity,Udacity,https://d20vrrgs8k4bvw.cloudfront.net/images/d...
3,Business Analytics,https://www.udacity.com/course/business-analyt...,"Excel/Spreadsheets, SQL, Data Visualization,...",Gain foundational data skills like analyzing d...,Gain foundational data skills like analyzing d...,0,2,0,2660.0,4.8,Subscription ₹22849 per month,English,English,Udacity,Mode,https://d20vrrgs8k4bvw.cloudfront.net/images/d...
4,Data Analyst,https://www.udacity.com/course/data-analyst-na...,"Data Wrangling, Matplotlib, Bootstrapping, ...","Use Python, SQL, and statistics to uncover ins...","Use Python, SQL, and statistics to uncover ins...",1,2,0,3498.0,4.6,Subscription ₹22849 per month,English,English,Udacity,Kaggle,https://d20vrrgs8k4bvw.cloudfront.net/images/d...

In [212]:

len(df1['Course Name'].unique())

262

In [213]:
df1.shape

(263, 16)

In [214]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         263 non-null    object
 1   URL                 263 non-null    object
 2   Categories          263 non-null    object
 3   Short Description   263 non-null    object
 4   Long Description    263 non-null    object
 5   Difficulty          263 non-null    int64
 6   Duration            263 non-null    int64
 7   Free Option         263 non-null    int64
 8   Number of Enrolled  263 non-null    float64
 9   Rating              263 non-null    float64
 10  Paid Option         263 non-null    object
 11  Language            263 non-null    object
 12  Subtitle Language   263 non-null    object
 13  Platform            263 non-null    object
 14  Provider            263 non-null    object
 15  Image URL           263 non-null    object
dtypes: float64(2), int64(3), object(11)
memory usage: 33.0+ KB

In [215]:
df1.describe()

       Difficulty    Duration  Free Option  Number of Enrolled      Rating
count  263.000000  263.000000        263.0          263.000000  263.000000
mean     0.916350    1.939163          0.0          445.241445    4.598859
std      0.642513    0.269482          0.0          440.391957    0.059568
min      0.000000    0.000000          0.0           50.000000    4.300000
25%      0.500000    2.000000          0.0          361.500000    4.600000
50%      1.000000    2.000000          0.0          361.500000    4.600000
75%      1.000000    2.000000          0.0          361.500000    4.600000
max      2.000000    2.000000          0.0         3865.000000    4.800000

In [216]:
df1.to_csv('Udacity_preprocess_done.csv', index=False, encoding='utf_8_sig')